<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href ="/static/images/logo.png" type = "image/x-icon">
    <title>Just Click -Convert Your Images to Pdf</title>
    style 
        include ../static/home.css
</head>
<body>
    <div class="navbar">
            <ul class="lists">
                <li>Home</li>
                <li>About</li>
                <li>steps</li>
                <li>Blogs</li>
                <li>contacts</li>
            </ul>
    </div>
    <div class="logo">
<img src="/static/images/logo.png"></img>
    <p1>just click</p1>
    </div>
    <div class="main">
        <div class="up">
            <div class="upload">
            <div class=box1>
                <img src="/static/images/element.png"></img>
            </div>
                <img src="/static/images/Group14.png"></img>
        <div class="heading">
          <div class="box">
            <br/>

            <div class="forme">
            <form action="/image" method="post" enctype="multipart/form-data">
              <input type="file" class="bttn_file" name="myFile" id="user" accept=".jpg,.jpeg,.png" required>
            <br/>
            <div class="pdf">
                <button type="submit" class="convert">Convert</button>
            </div>
            </form>
            </div>
            <div class=box2>
                <img src="/static/images/element.png"></img>
            </div>
        </div>
        </div>
        </div>
        </div>
        <div class="main-contain">
            <div class="child">
                <img src="/static/images/bg12.png"> </img>
            </div>
            <div class="containers">  
                <h1>HOW TO CONVERT TO PDF FROM OTHERS FILES TYPE</h1>
                <ul>
                    <li>upload your file to our pdf Converter</li>
                    <li>The tool will instantly upload and transform the file into pdf</li>
                    <li>compress,edit or modify the output file if neccesary</li>
                    <li>download the pdf to your device or export it into dropbox or google drive</li>
                </ul>
            </div>
        </div>
        <div class="footer">
        <div class="inner-footer">
      
          <div class="footer-items">
            <h1>just click</h1>
            <p>we make pdf easily in just one click</p>
          </div>
      
          <div class="footer-items">
            <h3>company </h3>
            <div class="border1"></div> <!--for the underline -->
              <ul>
                <li>about</li></a>
                <li>testimonial</li></a>
                <li>Find a doctor</li></a>
                <li>Apps</li></a>
              </ul>
          </div>
      
          <div class="footer-items">
            <h3>Region</h3>
            <div class="border1"></div>  <!--for the underline -->
              <ul>
                <li>Indonesia</li></a>
                <li>Singapur</li></a>
                <li>hongkong</li></a>
                <li>canada</li></a>
              </ul>
          </div>
      
          <div class="footer-items">
            <h3>Help us </h3>
            <div class="border1"></div>
              <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>help center</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>contract support</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>construction</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>how it works</li>
              </ul> 
            
              <div class="social-media">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-google-plus-square"></i></a>
              </div> 
          </div>
        </div>


</body>
</html>