<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    style
        include ../static/index.css

    <title>Just Click-The Best Pdf Converter</title>
</head>
<body>
    <div class="blue">
        <div class="navbar">
            <ul class="lists">
                <li>Home</li>
                <li>About</li>
                <li>steps</li>
                <li>Blogs</li>
                <li>contacts</li>
            </ul>
        </div>
         <div class="logo">
<img src="/static/images/logo.png"></img>
    <p1>just click</p1>
    </div>
        <div class="main">
            <div class="heading">
                <div class="left_heading">
                    <img src="/static/images/onlinepdf.png"></img>
                    <p><br/>To get started, use the button below
                    <span> and select to convert from your computer.</span>
                    </p>
                    <br/>
                    <div class="forme">
                    <form method="POST" action="/" enctype="multipart/form-data">
                    <input type="file" class="bttn_file" name="myFile" id="user" accept=".docx,.pptx,.ppt,.doc,.xls,.xlsx" required>
                        <br/>
                    <button type="submit" class="convert">Make Pdf</button>
                    </form>
                    </div>
                </div>
                <div class="right_heading">
                    <img src="/static/images/image2.png"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="step">
        <h1>Three Simple Steps</h1>
    </div>
    <div class="steps">
        <div class="inner-step">
        <img src="/static/images/1.png" style="width:18px;"></img><br/><br/>
        <p>Select the Word, Excel, PowerPoint, PDF or other file you wish to convert.</p>
        </div>
        <div class="inner-step">
        <img src="/static/images/2.png"></img><br/><br/>
        <p>Our free PDF creator will convert your document to PDF or from PDF in seconds.</p>
        </div>
        <div class="inner-step">
        <img src="/static/images/3.png"></img><br/><br/>
        <p> Your new document will be ready to download immediately.
        <span>After the download is complete, any remaining files uploaded will be purged from our server.</span>
        </p>
        </div>
    </div>

    <div class="service">
        <h1>Our Services</h1>
        <p>We provide to you the best choiches for you.Add multiple files to the queue of the PDF Converter and convert them in a single click.</p>
    </div>
        <div class="services">
            <div class="inner-service">
                <img src="/static/images/file.png"></img><br/><br/>
                <h2> Free PDF Converter</h2>
            <p>No matter what types of files you need to convert
            <span>our online file converter easily.</span>
            </p>
            </div>
            <div class="inner-service">
                <img src="/static/images/documents.png"></img><br/><br/>
                <h2> Add multiple files</h2>
            <p>Add multiple files and convert it easily</p>
            </div>
            <div class="inner-service">
                <img src="/static/images/pdf.png"></img><br/><br/>
                <h2> Versatile formatting</h2>
            <p>Transform JPG, PNG, BMP, GIF, and TIFF images to PDF.</p>
            </div>
            <div class="inner-service">
                <img src="/static/images/edit-file.png"></img><br/><br/>
                <h2> Document editing</h2>
            <p>Edit document with just one click with single click.</p>
            </div>
            <div class="inner-service">
                <img src="/static/images/secure-folder.png"></img><br/><br/>
                <h2> Encrypted files</h2>
            <p>We care about the privacy of your data your files means that your files,
            <span>documents, and data are secure.</span> 
            </p>
            </div>
            <div class="inner-service">
                <img src="/static/images/hands 1.png"></img><br/><br/>
                <h2> Easy to use</h2>
            <p>With us you can convert files to and from PDF for free.</p>
            </div>
        </div>
        <div class="bttn">
            <button class="learn">Learn More</button>
        </div>

        <div class="tool">
    <h1>Our tools</h1>
    <p>We provide to you the best choiches for you.Add multiple files to the queue of the PDF Converter and convert them in a single click.</p>
</div>
    <div class="tools">
        <div class="inner-tool">
            <img src="/static/images/ppt.png"></img><br/><br/>
            <h2>PPT TO PDF</h2>
        <p><a href="/file">Convert PDFs to editable word documents</a></p>
        </div>
        <div class="inner-tool">
            <img src="/static/images/doc 1.png"></img><br/><br/>
            <h2>WORD TO PDF</h2>
        <p><a href="/file">Convert PDFs to editable word documents</a></p>
        </div>
        <div class="inner-tool">
            <img src="/static/images/xls.png"></img><br/><br/>
            <h2>EXCEL TO PDF</h2>
        <p><a href="/file">Convert PDFs to editable word documents</a></p>
        </div>
        <div class="inner-tool">
            <img src="/static/images/pdf (1).png"></img><br/><br/>
            <h2>WORD TO PDF</h2>
        <p><a href="/file">Convert PDFs to editable word documents</a></p>
        </div>
        <div class="inner-tool">
            <img src="/static/images/jpg 1.png"></img><br/><br/>
            <h2> JPG TO PDF</h2>
        <p><a href="/image">Convert PDFs to editable word documents</a></a</p>
        </div>
        <div class="inner-tool">
            <img src="/static/images/png 1.png"></img><br/><br/>
            <h2>PNG TO PDF</h2>
        <p><a href="/image">Convert PDFs to editable word documents</a></p>
        </div>
        <div class="inner-tool">
            <img src="/static/images/open.png"></img><br/><br/>
            <h2>MERGE PDF</h2>
        <p><a href="/file">Convert PDFs to editable word documents</a></p>
        </div>
        <div class="inner-tool">
            <img src="/static/images/merge 1.png"></img><br/><br/>
            <h2>MERGE PDF</h2>
        <p><a href="/merge">Convert PDFs to editable word documents</a></p>
        </div>
        <div class="inner-tool">
            <img src="/static/images/html.png"></img><br/><br/>
            <h2>HTML TO PDF</h2>
        <p><a href="/html">Convert PDFs to editable word documents</a></p>
        </div>
    </div>
    <div class="bttn">
        <button class="learn">More Tools</button>
    </div>
    <div class="trial">
        <div class="inner-trial">
            <div class="left_trial">
                <img src="/static/images/Frame.png"></img>
            </div>
            <div class="right_trial">
                <h1>Try JustClick for free<br/></h1>
                <p>Get unlimited access to all  justclick tools to convert,compress, and more.</p>
            </div>
        </div>
    </div>



<div class="footer">
        <div class="inner-footer">
      
          <div class="footer-items">
            <h1>just click</h1>
            <p>we make pdf easily in just one click</p>
          </div>
      
          <div class="footer-items">
            <h3>company </h3>
            <div class="border1"></div> <!--for the underline -->
              <ul>
                <li>about</li></a>
                <li>testimonial</li></a>
                <li>Find a doctor</li></a>
                <li>Apps</li></a>
              </ul>
          </div>
      
          <div class="footer-items">
            <h3>Region</h3>
            <div class="border1"></div>  <!--for the underline -->
              <ul>
                <li>Indonesia</li></a>
                <li>Singapur</li></a>
                <li>hongkong</li></a>
                <li>canada</li></a>
              </ul>
          </div>
      
          <div class="footer-items">
            <h3>Help us </h3>
            <div class="border1"></div>
              <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>help center</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>contract support</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>construction</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>how it works</li>
              </ul> 
            
              <div class="social-media">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-google-plus-square"></i></a>
              </div> 
          </div>
        </div>


</body>
</html>