* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    text-transform: capitalize;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.navbar{
    text-align: right;
}
.lists{
    list-style-type:none;
    display: inline-flex;
    padding-right:3rem;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lists li{
    padding: 9px;
    font-size: 70%;
}

.lists li:hover{
    color: red;
    font-weight: bolder;
}
.main{
    float: center;
    left: 30%;
    padding: 2rem;
}
.blue{
    height:60vh;
    background-image: url('/static/images/image3.png');
    background-position:bottom;
    background-size:cover;
    width: 100%;
}
@media (max-width:600px) {
    .blue{
        height:40vh;
    }
}
.heading{
    margin-top: 1rem;
    /* margin-left: 1rem; */
    height: 100px;
    display:flex;
    padding: 2.5rem;
    padding-left: 4rem;
    padding-right: 8rem;
    height:auto;
    padding-bottom: 5rem;

}
.left_heading{
    display:inline-block;
    flex: 1 1 200px;
    width: 50%;
    height: auto;
}
.left_heading p{
    color: #7D7987;
    font-family: cursive;
    font-size: 180%;
    text-align: left;
}

.left_heading img{
    width: 27rem;
}
@media (max-width:780px) and (min-width:500px){
    .left_heading img{
        width: 100%;
    }
    .left_heading p{
        font-size: 140%;
    }
}
@media (max-width:500px){
    .left_heading img{
        width: 110%;
    }
    .left_heading p{
        font-size:  90%;
    }
    .left_heading span{
        display: none;
    }
}

.right_heading{
    margin-left: 4rem;
    float:right;
    margin-top: -1rem;

}

.right_heading img{
    width: 18em;
    height: 16rem;
}
@media (max-width:600px){
    .heading{
        padding-right: 0rem;
        padding-left: 0rem;
    }
    .right_heading img{
        width: 14rem;
        height: 12rem;
    }
}
.step{
    text-align: center;
    margin-top: 3rem;
}
.step h1{
    font-size: 350%;
    font-weight: bold;
    color: #458FF6;
}
.steps{
    margin-top: 5rem;
    padding: 5rem;
    padding-left: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    row-gap: 9px;
    column-gap: 2px;
    background: #458FF60D;
}

.inner-step{
    padding: 1rem;
    /* width: 40rem; */
    text-align: center;
    color: #7D7987;
    font-size: 140%;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inner-step img{
    background-color: #458FF6;
    width:25px;
    padding: 3px;
    border-radius: 50px;
}
.service{
    margin-top:5rem;
    text-align: center;
}
.service h1{
    font-size: 280%;
    color: #458FF6;
}
.service p{
    font-size: 150%;
    margin-top: 2rem;
    color: #7D7987;
}
.services{
    margin-top: 2rem;
    padding: 10%;
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(2,1fr); */
    row-gap: 20px;
    column-gap: 20px;
}
@media (min-width:600px){
    .services{
        grid-template-columns: repeat(3,1fr);
    }
}
.inner-service{
    padding: 1.2rem;
    text-align: center;
    box-shadow: 0 0 14px #8888884d;
    height: auto;
    width: auto;
    color: #7D7987;
    font-size: 15px;
    line-height: 1.4;
    cursor: pointer;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inner-service:hover{
    background-color: #f7d7e33b;
    margin-top: -1rem;
}
.inner-service img{
    width: 60px;
    float: left;
}
.inner-service h2{
    font-size: 110%;
    color: black;
    float:left;
    margin-top: 14px;
}
.inner-service p{
    margin-top:10px;
    float: left;
    margin-left:5rem;
}
.bttn{
    width: 100%;
    text-align: center;
}
.learn{
    margin-top:1rem;
    padding: 8px 25px;
    color: #458FF6;
    border: 1px solid #458FF6;
    cursor: pointer;
}
.tool{
    margin-top: 4rem;
    padding: 5rem;
}
.tool h1{
    color: #458FF6;
    font-size: 32px;
    text-align: center;
}
.tool p{
    color: #7D7987;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}
.tools{
    padding: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(2,1fr); */
    row-gap: 20px;
    column-gap: 20px;
}
@media (min-width:600px){
    .tools{
        grid-template-columns: repeat(3,1fr);
    }
}
.inner-tool{
    padding:30px 8px;
    text-align: center;
    background-color:#F6F9FF;
    color: #7D7987;
    font-size: 15px;
    box-shadow: 0 0 14px #8888884d;
    cursor: pointer;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inner-tool:hover{
    background-color: #ffffff;
    margin-top: -1rem;
}
.inner-tool img{
    width: 55px;
    float: left;
}
.inner-tool h2{
    font-size: 15px;
    color: black;
    float:left;
    margin-top: 14px;
}
.inner-tool p{
    margin-top:10px;
    float: left;
    margin-left:5rem;
}
.trial{
    padding: 2rem;
    padding-left: 9.5%;
    padding-right: 9%;
    margin-top: 7rem;
}
.inner-trial{
    margin-top: 1rem;
    background-color: #458FF6;
    padding: 4rem;
    padding-bottom: 14rem;

}
.left_trial{
    float: left;
}
.left_trial img{
    width: 55%;
}
.right_trial{
    position: absolute;
    left:55%;
    padding-right: 4rem;
    color: white;
}
.right_trial h1{
    font-size: 190%;
}
.right_trial p{
    margin-top: 15px;
    font-size: 120%;
}
@media (max-width:400px){
    .left_trial img{
        width: 55%;
    }
    .right_trial h1{
        font-size: 15px;
    }
    .left_trial p{
        font-size: 15px;
    }

}

.footer{
    display:flex;
    width: 100%;
    background-color: #F6F9FF;
    padding: 4rem;
    margin-top: 4.5rem;
} 
.inner-footer{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
}
.footer-items{
    display:inline-block;
    flex: 1 1 200px;
    text-align: center;
    padding:2rem;
    text-align: justify;
}
.footer-items ul{
    list-style-type: none;
    line-height: 1.8;
    font-size: 15px;
    margin-top: 2rem;
}

.footer-items h3{
    font-size: 20px;
}
.containers h1{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Mulish';
    margin-left: -5rem;

}
@media (max-width:650px){
    .steps{
        font-size: 90%;
    }
    .steps span{
        display:none;
    }   
}

.bttn_file::-webkit-file-upload-button {
    visibility: hidden;
  }
  .bttn_file::before {
    content: 'Upload Files';
    display: inline-block;
    background-color: #458FF6;
    border-radius: 10px;
    padding: 8px 16px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #458FF6;
    font-weight: 700;
    font-size: 10pt;
    color: #ffffff;
  }
  .bttn_file:hover::before {
    border-color: rgb(253, 208, 208);
  }
  .bttn_file:active::before {
    background-color: #458FF6;
  }