* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    text-transform: capitalize;
    text-decoration: none;
}
.logo{
    margin-top:-4.5%;
    right: 7%;
    padding-right: 20%;
}
.logo p1{
  color: rgb(3, 3, 3);
  font-family: 'MuseoModerno';
}
.navbar{
    text-align:right;
}
.body{
    display: fixed;
}
.lists{
    list-style-type:none;
    display: inline-flex;
    padding-right:3rem;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.lists li{
    padding: 10px;
    font-size: 16px;
    
}

.lists li:hover{
    color: red;
    font-weight: bolder;
}
.left_heading{
    margin-top: 135px;
    margin-left: 220px;
}
.file{
    top:40%;
}

#cent {
 position:absolute;
 top:50%;
 left:50%;
 margin-top:-50px; /* this is half the height of your div*/  
 margin-left:-100px; /*this is half of width of your div*/
}

.forme{
    margin-left: 40%;
    margin-top: 10%;
 

}
.up{
    padding: 6%;
    padding-left: 9%;
    padding-right: 9%;
}

.upload img{
    height: 14%;
   position: absolute;
   left: 43%;
   margin-top: -3rem;
   margin-left: 1%
}
.upload{
   height: 60vh;
   padding: 10rem;
   background-color:#F6F9FF;
   width: 100%;
  
}
.main-contain{
    padding: -20%;
    display: contents;
    margin-left:35%;
    margin-bottom: 10%;
}
.child{
    float: left;
    margin-left: 10%;
    padding-right: 10%;
}
.child img{
    height: 30%;
    margin-right: 70%;
}
.containers{
    margin-left: 16%;
    margin-top: 7%;
    
}


.containers ul{
    list-style-type: disc;
   text-align: justify;
   left: 50%;
   margin-top: 2rem;
   line-height: 1.8; 
    
}
.containers h1{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Mulish';
  margin-left: 20%;
}
.footer{
    display: grid;
    width: 100%;
    background-color: #F6F9FF;
    padding: -20%;
    margin-top: 4.5rem;
} 
.inner-footer{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
}
.footer-items{
    display:inline-block;
    flex: 1 1 10%;
    text-align: center;
    padding:4%;
    text-align: justify;
}
.footer-items ul{
    list-style-type: none;
    line-height: 1.8;
    font-size: 15px;
    margin-top: 2rem;
}

.footer-items h3{
    font-size: 20px;
}
.containers h1{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Mulish';
    margin-left: -5rem;

}





















